@font-face {
  font-family: PPNeueMontreal-Book;
  src: url("PPNeueMontreal-Book.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: PPNeueMontreal-Medium;
  src: url("PPNeueMontreal-Medium.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: PPNeueMontreal-Bold;
  src: url("PPNeueMontreal-Bold.woff") format("woff");
  font-style: normal;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: hsl(22, 100%, 55%);

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

#loader {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  background: black;
  top: 0;
  left: 0;
}

#loader .text {
  font-size: 10px;
  font-family: PPNeueMontreal-Book, serif;
}

body {
  margin: 0;
  color: whitesmoke;
  background: black;
  background-image: url("bg.png");
  background-repeat: space;
  background-size: cover;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 4rem 0;
}

.footer {
  display: flex;
  flex: 0 1 300px;
  justify-content: space-between;
  font-family: PPNeueMontreal-Book, serif;
  font-size: small;
  margin: 1rem 0;
}

.footer div a {
  font-family: PPNeueMontreal-Bold, serif;
  text-decoration: none;
  font-size: small;
  color: hsl(22, 100%, 55%);
}

header {
  margin-top: 2rem;
  font-family: PPNeueMontreal-Medium, serif;
  font-size: 5vw;
  max-width: 1200px;
}

.header img {
  max-width: 933px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu div {
  display: flex;
  flex: 0 1 100px;
  justify-content: center;
  font-family: PPNeueMontreal-Medium, serif;
  font-size: large;
  margin: 2rem 0 6rem 0;
}

.menu a {
  font-family: PPNeueMontreal-Medium, serif;
  font-size: large;
  text-decoration: none;
  color: whitesmoke;
}

.menu a:hover {
  color: hsl(22, 100%, 55%);
}

.logo {
  margin: auto;
  text-align: center;
}

.logo img {
  width: 50%;
}

.first {
  justify-content: space-between;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

.header {
  font-family: PPNeueMontreal-Medium, serif;
  font-size: x-large;
  margin: 5rem 0;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.title h4 {
  font-family: PPNeueMontreal-Medium, serif;
  font-size: x-large;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: -4rem;
  color: hsl(22, 100%, 55%);
}

.title a {
  font-family: PPNeueMontreal-Medium, serif;
  font-size: x-large;
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 933px;
}

.subtitle {
  display: flex;
  justify-content: center;
}

.subtitle a {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-family: "PPNeueMontreal-Medium";
  color: whitesmoke;
  margin-top: -1rem;
}

.articles > .card > .name {
  font-family: PPNeueMontreal-Medium, serif;
  font-size: large;
}

.line {
  width: 200px;
  height: 235px;
  border-bottom: 2px solid hsl(22, 100%, 55%);
  position: absolute;
  text-align: center;
  display: flex;
  align-self: center;
}

.mission {
  display: flex;
  justify-content: flex-start;
  font-family: PPNeueMontreal-Medium, serif;
  font-size: large;
  max-width: 777px;
  align-self: center;
  line-height: 1.5em;
  margin: 0 1rem;
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
  align-self: center;
}

.cards > .card {
  display: flex;
  flex: 0 1 450px;
  justify-content: space-between;
  font-family: PPNeueMontreal-Book, serif;
  font-size: small;
  flex-direction: column;
  margin: 1rem 0;
  text-align: justify;
  padding: 0 1rem;
}

.cards > .card > .img {
  text-align: center;
}

.cards > .card > .img > img {
  width: 12rem;
}

.cards > .card > .name {
  text-align: center;
  margin: 1rem 0;
  font-size: large;
}

.cards > .card > .body {
  text-align: justify-all;
  margin: 1rem 0;
  font-size: large;
}

.goals {
  display: flex;
  justify-content: flex-start;
  font-family: PPNeueMontreal-Medium, serif;
  align-self: center;
  line-height: 1.5em;
  font-size: large;
}

.section.news {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  max-width: 1200px;
}

.articles > div.news h4,
p {
  margin: 0px;
}

.articles {
  width: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-self: center;
}

.articles > .img > img {
  width: 24rem;
}

/*
.articles,
.updates {
  margin-bottom: 5rem;
}
*/

div.updates {
  width: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
  align-self: center;
  margin-top: 1rem;
}

div.updates h4,
p {
  margin: 0px;
}

.news h4,
.updates h4 {
  font-family: PPNeueMontreal-Bold, serif;
  color: hsl(22, 100%, 55%);
}

.updates a {
  font-family: PPNeueMontreal-Medium, serif;
  color: whitesmoke;
  text-decoration: none;
}

.news p {
  font-family: PPNeueMontreal-Medium, serif;
}

body div.section.news > div.articles > div.news > a {
  font-family: PPNeueMontreal-Medium, serif;
  color: whitesmoke;
  text-decoration: none;
}

@media screen and (min-width: 1500px) {
  header {
    font-size: 4.8rem;
  }
}

#vertical {
  display: none;
  padding-bottom: 3rem;
}

#horizontal img {
  margin-top: -5rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 560px) {
  body {
    background-image: url("mob.jpg");
    background-repeat: round;
  }

  #horizontal {
    display: none;
  }

  #vertical {
    display: flex;
  }

  .mission {
    font-size: medium;
  }
  .header {
    font-size: large;
  }

  .title h4 {
    font-size: large;
  }

  .cards > .card > .body {
    font-size: medium;
  }

  .articles {
    max-width: 300px;
    font-size: small;
  }

  div.updates {
    max-width: 300px;
    margin-bottom: 1rem;
    font-size: small;
  }

  .goals {
    display: flex;
    justify-content: flex-start;
    font-family: PPNeueMontreal-Medium, serif;
    max-width: 333px;
    align-self: center;
    line-height: 1.5em;
    font-size: medium;
  }

  .articles > .img > img {
    width: 19rem;
  }

  .header img {
    width: calc(100%);
    margin-top: -5rem;
  }

  #vertical img {
    width: calc(100%);
    margin-top: -5rem;
  }
}
